:root {
  --base-yellow: #ffd000;
  --hover-yellow: #ffd726;
  --active-yellow: #fdda3c;
}

#titleCategory, input[type="email"], input[type="password"], textarea:focus{
  outline: none;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  transition: all 0.30s ease-in-out;
}

div:focus {
  outline: none;
}

.App {
  background-color: #000000;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.loaderContainer {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  border-right-style: solid;
  border-right-color: #424242;
  border-width: 1px;
  overflow-y: auto;
}

.logout {
  color: #3f3f3f;
  font-weight: bold;
  font-size: calc(1vw);
  text-decoration: underline;
}

.logout:hover {
  color: var(--base-yellow);
  -webkit-transition: all 0.10s ease-in-out;
  -moz-transition: all 0.10s ease-in-out;
  -ms-transition: all 0.10s ease-in-out;
  -o-transition: all 0.10s ease-in-out;
  transition: all 0.10s ease-in-out;
}

.categoryButton {
  background-color: #000000;
  color: #ffffff;
  font-size: calc(1vw);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5%;
  padding-right: 5%;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: normal;
  border-radius: 45px;
  margin-bottom: 5px;
  margin-left: 20%;
  margin-right: 20%;
}

.categoryButton:hover {
  background-color: #080700;
  color: var(--base-yellow);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.categoryButton:active {
  background-color: #131000;
  color: var(--base-yellow)
}

#selectedCategory {
  color: var(--base-yellow);
}

#addCategory {
  background-color: var(--base-yellow);
  margin-top: 25%;
}

#addCategory:hover {
  background-color: var(--hover-yellow);
  color: #ffffff;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#addCategory:active {
  background-color: var(--active-yellow);
  color: #ffffff;
}

.formContainer {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.formContainer > div {
  width: 100%;
}

.addCategoryForm[type="text"], textarea{
  color: #ffffff;
  background-color: #1d1d1d;
  border: 0px;
  margin-right: 15px;
  height: 30px;
}

.addFormTitle {
  color: #ffffff;
  margin-top: 10%;
  font-weight: bold;
}

.addCategoryButton {
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
  background-color: var(--base-yellow);
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  height: 25px;
  width: 25px;
  line-height: 22px;
  font-size: 1.12em;
}

.addCategoryButton:hover {
  background-color: var(--hover-yellow);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.addCategoryButton {
  background-color: var(--active-yellow);
}

.rightPanel {
  display: flex;
  flex-direction: column;
  width: 80%;
  overflow-y: auto;
}

.noteTitle {
  border-style: solid;
  border-width: 0.5px;
  border-color: #424242;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: 0.3%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  color: #ffffff;
  font-size: 1.5rem;
  border-radius: 2px;
}

.noteTitle:hover {
  background-color: #424242;
}

.addNoteButton {
  color: #ffffff;
  font-weight: bold;
  border-radius: 50%;
  background-color: var(--base-yellow);
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  height: 70px;
  width: 70px;
  line-height: 65px;
  font-size: 3em;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.addNoteButton:hover {
  background-color: var(--hover-yellow);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.addNoteButton:active {
  background-color: var(--active-yellow);
  color: #ffffff;
}

.Modal {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  background-color:#000000;
  z-index: 1;
  color: #ffffff;
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsla(0, 0%, 11%, 0.479);
}

.textEditor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.modal-button-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#mde {
  margin-right: 10%;
  margin-top: 1.5%;
  margin-bottom: 2%;
  margin-left: 10%;
}

.mdeEditor {
  height: 650px;
  overflow-y: scroll;
}

.saveCancel {
  background-color: #3f3f3f;
  color: #ffffff;
  font-size: calc(1vw);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: normal;
  border-radius: 45px;
  margin-bottom: 20px;
  margin-right: 2%;
}

#save {
  background-color: var(--base-yellow);
}

#titleText {
  margin-top: .5%;
  background-color: #000000;
  border: 0px;
  border-bottom: var(--base-yellow) 1px solid;
  margin-left: 10%;
  margin-right: 70%;
  color: var(--base-yellow);
  font-size: 2rem;
}

#noteContainer{
  margin-top: 1%;
  margin-bottom: 1.5%;
  width: 80%;
  height: 85%;
  margin-left: auto;
  margin-right: auto;
  background-color: #1d1d1d;
  color: #ffffff;
  border: 0px;
  font-size: 1.2rem;
}

.catInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.editDelete {
  color: #ffffff;
  font-size: calc(1vw);
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2%;
  padding-right: 2%;
  vertical-align: middle;
  text-align: center;
  display: inline-block;
  line-height: normal;
  border-radius: 45px;
  margin-bottom: 20px;
  margin-right: 2%;
  width: 7%;
}

#edit {
  background-color: var(--base-yellow);
  width: 11%;
}

#edit:hover {
  background-color: var(--hover-yellow);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

#edit:active {
 background-color: var(--active-yellow);
}

#delete {
  background-color:#ff004c;
  width: 11%;
}

#delete:hover {
  background-color: #ff1e62;
}

#delete:active {
  background-color: #ff2a6a;
}

#titleCategory {
  background-color: #000000;
  border: 0px;
  border-bottom: var(--base-yellow) 1px solid;
  margin-right: 40px;
  color: var(--base-yellow);
  font-size: 2rem;
}

.loginContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
}

.loginContainer>input[type="email"], input[type="password"] {
  border: 0px;
  border-bottom: #3f3f3f 1px solid;
}

.loginContainer>input[type="email"]:focus, input[type="password"]:focus {
  border-bottom: var(--base-yellow) 1px solid;
}

.loginContainer > input[type="email"], input[type="password"] {
  background-color: #000000;
  color: #ffffff;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 2rem;
}

.error {
  color: #ff004c;
}